name: kustomize_runner
on: push

jobs:
  apply_kustomize:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: testing actions
        run: ls -ltra

      - id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: sonic-mile-478116-u9
          workload_identity_provider: 'projects/963594193612/locations/global/workloadIdentityPools/github-actions/providers/my-repo'
          service_account: terraform-sa@sonic-mile-478116-u9.iam.gserviceaccount.com

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Installing GKE Auth plugin
        uses: simenandre/setup-gke-gcloud-auth-plugin@v1

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials my-gke-cluster-1 --region us-central1 --project sonic-mile-478116-u9
          

      # The KUBECONFIG env var is automatically exported and picked up by kubectl.
      - id: 'get-pods'
        run: |
          kubectl apply -f manifest/namespace.yaml
          kubectl get namespace
          kubectl kustomize argocd/overlays/dev/kustomization.yaml
          kubectl get pods -n argocd
        

#      - name: deploy to cluster
#        uses: steebchen/kubectl@v2.0.0
#        with: # defaults to latest kubectl binary version
#          config: ${{ secrets.KUBE_CONFIG_DATA }}
#          command: set image --record deployment/my-app container=${{ github.repository }}:${{ github.sha }}